PYTHONUNBUFFERED="true"
BB_BROKER="redis://127.0.0.1:6379/0"
BB_WORK_DIR="/tmp/bbuilder"
BB_DEBUG="false"
BB_LISTEN_ADDR="0.0.0.0"
BB_LISTEN_PORT="7999"
BB_AUTH_KEY="I'mALittleTeapot"
BB_CONCURRENCY=1
BB_SSH_KEY="/path/to/deploy/id_ed25519"
